html, body,
p, ol, ul, li,
dl, dt, dd,
blockquote,
figure, fieldset,
legend, textarea,
pre, iframe,
hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
}

code {
  background-color: #f7f7f9;
  color: #ff5252;
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
  border-radius: 0.3rem;
}

a {
  color: #34ace0;
  text-decoration: none;
}

a:hover {
  color: #177097;
}

ul.unstyled {
  list-style: none;
}

hr {
  height: 1px;
  border: none;
  border-bottom: 2px solid #eee;
  margin: 1rem 0;
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 1rem;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
}

h1 > small {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.5em;
  font-weight: normal;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: normal;
}

.container {
  padding: 1rem;
}

.columns.-unpadded .column {
  padding: 0;
}

.columns > .column {
  padding: 0.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .columns > .column {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media screen and (min-width: 1024px) {
  .columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .columns > .column {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

nav.nav > ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav.nav > ul li {
  padding: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  nav.nav > ul {
    display: inline;
  }
  nav.nav > ul li {
    padding: 0.2rem;
  }
}

@media screen and (min-width: 1024px) {
  nav.nav > ul {
    display: inline;
  }
  nav.nav > ul li {
    padding: 0.2rem;
  }
}

nav.navbar {
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

nav.navbar > ul {
  list-style: none;
}

nav.navbar > ul > li {
  display: inline-block;
  padding: 0.3rem 1rem;
  line-height: 3;
}

nav.navbar > ul > li:hover {
  background: #d5d5d5;
}

nav.navbar > ul > li:hover > a {
  color: #eee;
}

nav.navbar > ul > li > a {
  color: inherit;
}

nav.navbar > ul > li > a:hover {
  color: #eee;
}

nav.navbar .navbar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

nav.navbar .navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
}

form.form {
  display: block;
}

form.form > fieldset {
  border: none;
  margin-bottom: 1rem;
  background: transparent;
}

form.form > fieldset label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

form.form > fieldset label.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form.form > fieldset label.checkbox > input {
  margin-right: 0.6rem;
}

form.form > fieldset input[type=text], form.form > fieldset input[type=email], form.form > fieldset input[type=number], form.form > fieldset input[type=password],
form.form > fieldset input[type=search], form.form > fieldset input[type=url], form.form > fieldset input[type=tel],
form.form > fieldset select, form.form > fieldset textarea {
  background: transparent;
  font-size: inherit;
  line-height: 1.5;
  padding: 0.2rem 0.5rem;
  border: 1px solid #d1d1d1;
  border-radius: 0.2rem;
  height: 2.5rem;
  width: 100%;
  margin-bottom: 0.8rem;
  color: inherit;
}

form.form > fieldset input[type=text]:focus, form.form > fieldset input[type=email]:focus, form.form > fieldset input[type=number]:focus, form.form > fieldset input[type=password]:focus,
form.form > fieldset input[type=search]:focus, form.form > fieldset input[type=url]:focus, form.form > fieldset input[type=tel]:focus,
form.form > fieldset select:focus, form.form > fieldset textarea:focus {
  outline: 0;
  border-color: #34ace0;
}

form.form > fieldset textarea {
  min-height: 4.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.-vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex.-horizontal-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex.-both-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.box {
  border: 1px solid #eee;
  -webkit-box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
          box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
  border-radius: 4px;
  padding: 0.5rem;
}

a.button, button.button, input.button {
  color: rgba(0, 0, 0, 0.8);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: inherit;
  border-radius: 0.3rem;
  line-height: 1.5rem;
  -webkit-transition: background-color .2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color .2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border: 1px solid transparent;
  background-color: #eee;
  border-color: #eee;
}

a.button:hover, button.button:hover, input.button:hover {
  background: #d5d5d5;
}

a.button:active, button.button:active, input.button:active {
  background: #bbbbbb;
  border-color: #bbbbbb;
}

a.button.-outline, button.button.-outline, input.button.-outline {
  background-color: transparent;
  border-color: #eee;
  color: #eee;
  color: black;
}

a.button.-outline:hover, button.button.-outline:hover, input.button.-outline:hover {
  background: #e1e1e1;
  color: white;
}

a.button.-outline:active, button.button.-outline:active, input.button.-outline:active {
  background: #d5d5d5;
  color: white;
}

a.button.-primary, button.button.-primary, input.button.-primary {
  background-color: #34ace0;
  border-color: #34ace0;
  color: white;
}

a.button.-primary:hover, button.button.-primary:hover, input.button.-primary:hover {
  background: #1e91c3;
}

a.button.-primary:active, button.button.-primary:active, input.button.-primary:active {
  background: #177097;
  border-color: #177097;
}

a.button.-primary-outline, button.button.-primary-outline, input.button.-primary-outline {
  background-color: transparent;
  border-color: #34ace0;
  color: #34ace0;
}

a.button.-primary-outline:hover, button.button.-primary-outline:hover, input.button.-primary-outline:hover {
  background: #21a2d9;
  color: white;
}

a.button.-primary-outline:active, button.button.-primary-outline:active, input.button.-primary-outline:active {
  background: #1e91c3;
  color: white;
}

a.button.-danger, button.button.-danger, input.button.-danger {
  background-color: #ff5252;
  border-color: #ff5252;
  color: white;
}

a.button.-danger:hover, button.button.-danger:hover, input.button.-danger:hover {
  background: #ff1f1f;
}

a.button.-danger:active, button.button.-danger:active, input.button.-danger:active {
  background: #eb0000;
  border-color: #eb0000;
}

a.button.-danger-outline, button.button.-danger-outline, input.button.-danger-outline {
  background-color: transparent;
  border-color: #ff5252;
  color: #ff5252;
}

a.button.-danger-outline:hover, button.button.-danger-outline:hover, input.button.-danger-outline:hover {
  background: #ff3939;
  color: white;
}

a.button.-danger-outline:active, button.button.-danger-outline:active, input.button.-danger-outline:active {
  background: #ff1f1f;
  color: white;
}

a.button.-success, button.button.-success, input.button.-success {
  background-color: #33d9b2;
  border-color: #33d9b2;
  color: white;
}

a.button.-success:hover, button.button.-success:hover, input.button.-success:hover {
  background: #22b794;
}

a.button.-success:active, button.button.-success:active, input.button.-success:active {
  background: #1a8c71;
  border-color: #1a8c71;
}

a.button.-success-outline, button.button.-success-outline, input.button.-success-outline {
  background-color: transparent;
  border-color: #33d9b2;
  color: #33d9b2;
}

a.button.-success-outline:hover, button.button.-success-outline:hover, input.button.-success-outline:hover {
  background: #26cca5;
  color: white;
}

a.button.-success-outline:active, button.button.-success-outline:active, input.button.-success-outline:active {
  background: #22b794;
  color: white;
}
/*# sourceMappingURL=corgi.css.map */