html, body,
p, ol, ul, li,
dl, dt, dd,
blockquote,
figure, fieldset,
legend, textarea,
pre, iframe,
hr, h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0

html
  box-sizing: border-box
  font-size: 16px;

*
  box-sizing: inherit
  &:before, &:after
    box-sizing: inherit

body 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  color: $font-color
  font-size: 1rem

code
  background: $gray
  padding: 0.2rem 0.5rem
  font-size: 0.9rem
  border-radius: 0.3rem

@mixin button($color) 
  display: inline-block
  padding: 0.5rem 1rem
  font-size: inherit
  border-radius: 0.4rem
  line-height: 1.5rem

@mixin buttonColorize($color)
  background-color: $color
  border-color: $color

  &:hover
    background: darken($color, 5%)

  &:active
    background: darken($color, 10%)

button.button
  @include button($button-default)
  @include buttonColorize($button-default)

  &.-primary
    @include buttonColorize($primary)
    color: white

  &.-danger
    @include buttonColorize($danger)
    color: white
