.container
  padding: 1rem

.columns
  &.-unpadded
    .column
      padding: 0

  .column
    padding: 0.5rem


  +tablet
    display: flex
    justify-content: space-between
    flex-wrap: wrap

    .column
      flex: 1

  +desktop
    display: flex
    flex-wrap: wrap

    .column
      flex: 1 1 0

      &.-one
        flex: 0 0 8.3333%
      &.-two
        flex: 0 0 16.6667%
      &.-three
        flex: 0 0 25%
      &.-four
        flex: 0 0 33.3333%
      &.-five
        flex: 0 0 41.6667%
      &.-six
        flex: 0 0 50%
      &.-seven
        flex: 0 0 58.3333%
      &.-eight
        flex: 0 0 66.6667%
      &.-nine
        flex: 0 0 75%
      &.-ten
        flex: 0 0 83.3333%
      &.-eleven
        flex: 0 0 91.6667%
      &.-twelve
        flex: 0 0 100%
