.flex
  display: flex

  &.-vertical-center
    align-items: center

  &.-horizontal-center
    justify-content: center

  &.-both-center
    align-items: center
    justify-content: center

.text-center
  text-align: center

.text-right
  text-align: right

.box
  background: white
  border: 1px solid $gray
  box-shadow: 0 1px 2px rgba(10,10,10,.1)
  border-radius: 4px
  padding: 0.5rem

.-hide-sm
  +small
    display: none !important
  +tablet
    display: unset
  +desktop
    display: unset


