html, body,
p, ol, ul, li,
dl, dt, dd,
blockquote,
figure, fieldset,
legend, textarea,
pre, iframe,
hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

* {
  box-sizing: inherit;
}

*:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  text-align: left;
}

code {
  background-color: #f7f7f9;
  color: #ff5252;
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
  border-radius: 0.3rem;
}

a {
  color: #34ace0;
  text-decoration: none;
}

a:hover {
  color: #177097;
}

ul.unstyled {
  list-style: none;
}

hr {
  height: 1px;
  border: none;
  border-bottom: 2px solid #eee;
  margin: 1rem 0;
}

img {
  max-width: 100%;
}

blockquote {
  padding: 0.5rem 1rem;
  border-left: 8px solid #eee;
}

blockquote cite {
  font-style: normal;
  color: rgba(51, 51, 51, 0.8);
}

blockquote cite:before {
  content: "\2014 \00A0";
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
}

h1 > small {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.5em;
  font-weight: normal;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: normal;
}

p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.container {
  padding: 1rem;
}

.columns.-unpadded .column {
  padding: 0;
}

.columns > .column {
  padding: 0.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .columns > .column {
    flex: 1;
  }
}

@media screen and (min-width: 1024px) {
  .columns {
    display: flex;
    flex-wrap: wrap;
  }
  .columns > .column {
    flex: 1 1 0;
  }
  .columns > .column.-one {
    flex: 0 0 8.3333%;
  }
  .columns > .column.-two {
    flex: 0 0 16.6667%;
  }
  .columns > .column.-three {
    flex: 0 0 25%;
  }
  .columns > .column.-four {
    flex: 0 0 33.3333%;
  }
  .columns > .column.-five {
    flex: 0 0 41.6667%;
  }
  .columns > .column.-six {
    flex: 0 0 50%;
  }
  .columns > .column.-seven {
    flex: 0 0 58.3333%;
  }
  .columns > .column.-eight {
    flex: 0 0 66.6667%;
  }
  .columns > .column.-nine {
    flex: 0 0 75%;
  }
  .columns > .column.-ten {
    flex: 0 0 83.3333%;
  }
  .columns > .column.-eleven {
    flex: 0 0 91.6667%;
  }
  .columns > .column.-twelve {
    flex: 0 0 100%;
  }
}

form.form {
  display: block;
}

form.form > fieldset {
  border: none;
  margin-bottom: 1rem;
  background: transparent;
}

form.form > fieldset label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

form.form > fieldset label.checkbox {
  display: flex;
  align-items: center;
}

form.form > fieldset label.checkbox > input {
  margin-right: 0.6rem;
}

form.form > fieldset input[type=text], form.form > fieldset input[type=email], form.form > fieldset input[type=number], form.form > fieldset input[type=password],
form.form > fieldset input[type=search], form.form > fieldset input[type=url], form.form > fieldset input[type=tel],
form.form > fieldset select, form.form > fieldset textarea {
  background: white;
  font-size: inherit;
  line-height: 1.5;
  padding: 0.2rem 0.5rem;
  border: 1px solid #d1d1d1;
  border-radius: 0.2rem;
  height: 2.5rem;
  width: 100%;
  margin-bottom: 0.8rem;
  color: inherit;
}

form.form > fieldset input[type=text]:focus, form.form > fieldset input[type=email]:focus, form.form > fieldset input[type=number]:focus, form.form > fieldset input[type=password]:focus,
form.form > fieldset input[type=search]:focus, form.form > fieldset input[type=url]:focus, form.form > fieldset input[type=tel]:focus,
form.form > fieldset select:focus, form.form > fieldset textarea:focus {
  outline: 0;
  border-color: #34ace0;
}

form.form > fieldset textarea {
  min-height: 4.5rem;
}

.flex {
  display: flex;
}

.flex.-vertical-center {
  align-items: center;
}

.flex.-horizontal-center {
  justify-content: center;
}

.flex.-both-center {
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.box {
  background: white;
  border: 1px solid #eee;
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
  border-radius: 4px;
  padding: 0.5rem;
}

@media screen and (max-width: 767px) {
  .-hide-sm {
    display: none !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .-hide-sm {
    display: unset;
  }
}

@media screen and (min-width: 1024px) {
  .-hide-sm {
    display: unset;
  }
}

.button {
  color: #34ace0;
  background: transparent;
  appearance: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: inherit;
  border-radius: 0.3rem;
  line-height: 1.5rem;
  cursor: pointer;
  transition: background-color .2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border: 1px solid transparent;
}

.button:hover, .button:active {
  color: #177097;
}

.button.-default {
  background-color: #eee;
  border-color: #eee;
  color: rgba(0, 0, 0, 0.8);
}

.button.-default:hover {
  background: #e1e1e1;
}

.button.-default:hover.-fancy {
  transform: translateY(-1px);
  box-shadow: 1px 3px 1px #bbbbbb;
}

.button.-default:active {
  background: #bbbbbb;
  border-color: #bbbbbb;
}

.button.-outline {
  background-color: transparent;
  border-color: #eee;
  color: #eee;
  color: black;
}

.button.-outline:hover {
  background: #e1e1e1;
  color: white;
}

.button.-outline:active {
  background: #d5d5d5;
  color: white;
}

.button.-primary {
  background-color: #34ace0;
  border-color: #34ace0;
  color: white;
}

.button.-primary:hover {
  background: #21a2d9;
}

.button.-primary:hover.-fancy {
  transform: translateY(-1px);
  box-shadow: 1px 3px 1px #bbbbbb;
}

.button.-primary:active {
  background: #177097;
  border-color: #177097;
}

.button.-primary-outline {
  background-color: transparent;
  border-color: #34ace0;
  color: #34ace0;
}

.button.-primary-outline:hover {
  background: #21a2d9;
  color: white;
}

.button.-primary-outline:active {
  background: #1e91c3;
  color: white;
}

.button.-danger {
  background-color: #ff5252;
  border-color: #ff5252;
  color: white;
}

.button.-danger:hover {
  background: #ff3939;
}

.button.-danger:hover.-fancy {
  transform: translateY(-1px);
  box-shadow: 1px 3px 1px #bbbbbb;
}

.button.-danger:active {
  background: #eb0000;
  border-color: #eb0000;
}

.button.-danger-outline {
  background-color: transparent;
  border-color: #ff5252;
  color: #ff5252;
}

.button.-danger-outline:hover {
  background: #ff3939;
  color: white;
}

.button.-danger-outline:active {
  background: #ff1f1f;
  color: white;
}

.button.-success {
  background-color: #33d9b2;
  border-color: #33d9b2;
  color: white;
}

.button.-success:hover {
  background: #26cca5;
}

.button.-success:hover.-fancy {
  transform: translateY(-1px);
  box-shadow: 1px 3px 1px #bbbbbb;
}

.button.-success:active {
  background: #1a8c71;
  border-color: #1a8c71;
}

.button.-success-outline {
  background-color: transparent;
  border-color: #33d9b2;
  color: #33d9b2;
}

.button.-success-outline:hover {
  background: #26cca5;
  color: white;
}

.button.-success-outline:active {
  background: #22b794;
  color: white;
}

.table {
  border-collapse: collapse;
}

.table thead {
  vertical-align: bottom;
  text-align: inherit;
}

.table thead th {
  border-bottom: 2px solid #eee;
}

.table td, .table th {
  padding: 0.7rem;
  display: table-cell;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}

.table.-full-width {
  width: 100%;
  max-width: 100%;
}

.table.-bordered td, .table.-bordered th {
  border: 1px solid #eee;
}

.table.-bordered thead th {
  border-bottom: 2px solid #eee;
}

.table.-narrow td, .table.-narrow th {
  padding: 0.5rem;
}

nav.navbar {
  background: #eee;
  display: flex;
  flex-grow: 1;
}

nav.navbar > ul {
  list-style: none;
}

nav.navbar > ul > li {
  display: inline-block;
  padding: 0.3rem 1rem;
  line-height: 3;
}

nav.navbar > ul > li:hover {
  background: #d5d5d5;
}

nav.navbar > ul > li:hover > a {
  color: #eee;
}

nav.navbar > ul > li > a {
  color: inherit;
}

nav.navbar > ul > li > a:hover {
  color: #eee;
}

nav.navbar .navbar-left {
  display: flex;
  justify-self: flex-start;
  flex-grow: 1;
}

nav.navbar .navbar-right {
  display: flex;
  justify-self: flex-end;
}

nav.nav > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

nav.nav > ul li {
  padding: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  nav.nav > ul {
    display: inline;
  }
  nav.nav > ul li {
    padding: 0.2rem;
  }
}

@media screen and (min-width: 1024px) {
  nav.nav > ul {
    display: inline;
  }
  nav.nav > ul li {
    padding: 0.2rem;
  }
}

.alert {
  background: #eee;
  border-left: 3px solid #d5d5d5;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.alert > button.close {
  float: right;
  padding: 0;
  line-height: 1;
  font-weight: bold;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
}

.alert > button.close:hover {
  color: inherit;
}

.alert.-danger {
  background: #ffe1e1;
  border-color: #ff5252;
  color: #9c1c1c;
}

.alert.-primary {
  background: #b0dff3;
  border-color: #34ace0;
  color: #234858;
}

.alert.-success {
  background: #abefdf;
  border-color: #33d9b2;
  color: #235045;
}

main.documentation {
  margin: 0 auto;
}

main.documentation .content-main {
  padding: 1rem;
}

@media screen and (min-width: 1024px) {
  main.documentation {
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  main.documentation > .content-main {
    padding: 1rem 1.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  main.documentation {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
}

header.banner {
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
}

header.banner > h1 {
  margin: 0;
}

aside {
  background: #eee;
  text-align: right;
  border-right: 1px solid #eee;
  padding: 0.1px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  aside {
    background: transparent;
  }
}

@media screen and (min-width: 1024px) {
  aside {
    background: transparent;
  }
}

nav.nav h6 {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  nav.nav h6 {
    text-align: right;
  }
}

@media screen and (min-width: 1024px) {
  nav.nav h6 {
    text-align: right;
  }
}

figure.highlight {
  background-color: #f7f7f9;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
}

figure.highlight pre {
  padding: 0;
  margin-top: 0;
  overflow: auto;
}

figure.highlight code {
  background: transparent;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  padding: 0;
}

.preview {
  border: 3px solid #f7f7f9;
}

.preview .column {
  text-align: center;
}

.landing-example header {
  min-height: 35rem;
  text-align: center;
  flex-direction: column;
}

.landing-example section.columns.stats {
  background: #34ace0;
  color: white;
}

.landing-example section.columns.stats .column {
  min-height: 14rem;
  flex-direction: column;
}

.landing-example section.columns.stats .column > h2 {
  font-size: 3rem;
  font-weight: bold;
}

.landing-example section.columns.stats .column > p {
  font-size: 1.3rem;
}

.landing-example section.columns.features {
  min-height: 10rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .landing-example section.columns.features > .column {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .landing-example section.columns.features > .column {
    margin: 0;
  }
}

.landing-example section.columns.features h3.display {
  font-size: 3.2rem;
}

.landing-example footer {
  background: #eee;
}

.landing-example footer .column {
  padding: 2rem;
}

.landing-example footer ul.unstyled li {
  padding-bottom: 0.4rem;
}

.login-example {
  background: url("https://images.unsplash.com/photo-1475139441338-693e7dbe20b6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=daeeb76a6de2ee2f5590609a67bd60a3&auto=format&fit=crop&w=1950&q=80");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-example .form-title {
  font-weight: bold;
}

.login-example .box {
  background: white;
  padding: 1rem;
  min-width: 320px;
}

.hll {
  background-color: #ffc;
}

.c {
  color: #999;
}

.k {
  color: #069;
}

.o {
  color: #555;
}

.cm {
  color: #999;
}

.cp {
  color: #099;
}

.c1, .cs {
  color: #999;
}

.gd {
  background-color: #fcc;
  border: 1px solid #c00;
}

.ge {
  font-style: italic;
}

.gr {
  color: #f00;
}

.gh {
  color: #030;
}

.gi {
  background-color: #cfc;
  border: 1px solid #0c0;
}

.go {
  color: #aaa;
}

.gp {
  color: #009;
}

.gu {
  color: #030;
}

.gt {
  color: #9c6;
}

.kc, .kd, .kn, .kp, .kr {
  color: #069;
}

.kt {
  color: #078;
}

.m {
  color: #f60;
}

.s {
  color: #d44950;
}

.na {
  color: #4f9fcf;
}

.nb {
  color: #366;
}

.nc {
  color: #0a8;
}

.no {
  color: #360;
}

.nd {
  color: #99f;
}

.ni {
  color: #999;
}

.ne {
  color: #c00;
}

.nf {
  color: #c0f;
}

.nl {
  color: #99f;
}

.nn {
  color: #0cf;
}

.nt {
  color: #2f6f9f;
}

.nv {
  color: #033;
}

.ow {
  color: #000;
}

.w {
  color: #bbb;
}

.mf, .mh, .mi, .mo {
  color: #f60;
}

.sb, .sc {
  color: #c30;
}

.sd {
  font-style: italic;
  color: #c30;
}

.s2, .se, .sh {
  color: #c30;
}

.si {
  color: #a00;
}

.sx {
  color: #c30;
}

.sr {
  color: #3aa;
}

.s1 {
  color: #c30;
}

.ss {
  color: #fc3;
}

.bp {
  color: #366;
}

.vc, .vg, .vi {
  color: #033;
}

.il {
  color: #f60;
}

.css .o {
  color: #999;
}

.css .o + .nt {
  color: #999;
}

.css .nt + .nt {
  color: #999;
}

/*# sourceMappingURL=corgi-docs.css.map */