html, body,
p, ol, ul, li,
dl, dt, dd,
blockquote,
figure, fieldset,
legend, textarea,
pre, iframe,
hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
}

code {
  background: #eee;
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
  border-radius: 0.3rem;
}

a {
  color: #34ace0;
  text-decoration: none;
}

a:hover {
  color: #177097;
}

ul.unstyled {
  list-style: none;
}

hr {
  height: 1px;
  border: none;
  border-bottom: 2px solid #eee;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5rem 0 1rem 0;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
}

h1 > small {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.5em;
  font-weight: normal;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: normal;
}

.container {
  margin: 1rem 2rem;
}

.columns > .column {
  margin: 0.3rem 0.4rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .columns > .column {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .columns > .column:first-child {
    margin-left: 0;
  }
  .columns > .column:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .columns > .column {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .columns > .column:first-child {
    margin-left: 0;
  }
  .columns > .column:last-child {
    margin-right: 0;
  }
}

nav.nav {
  margin: 1rem 1.5rem;
}

nav.nav > ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav.nav > ul li {
  padding: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  nav.nav > ul {
    display: inline;
  }
  nav.nav > ul li {
    padding: 0.2rem;
  }
}

@media screen and (min-width: 1024px) {
  nav.nav > ul {
    display: inline;
  }
  nav.nav > ul li {
    padding: 0.2rem;
  }
}

nav.navbar {
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

nav.navbar > ul {
  list-style: none;
}

nav.navbar > ul > li {
  display: inline-block;
  padding: 0.3rem 1rem;
  line-height: 3;
}

nav.navbar > ul > li:hover {
  background: #d5d5d5;
}

nav.navbar > ul > li:hover > a {
  color: #eee;
}

nav.navbar > ul > li > a {
  color: inherit;
}

nav.navbar > ul > li > a:hover {
  color: #eee;
}

nav.navbar .navbar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

nav.navbar .navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
}

form {
  display: block;
  padding: 0.2rem;
}

form > fieldset {
  border: none;
  margin-bottom: 1rem;
  background: transparent;
}

form > fieldset label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

form > fieldset label.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form > fieldset label.checkbox > input {
  margin-right: 0.6rem;
}

form > fieldset input[type=text], form > fieldset input[type=email], form > fieldset input[type=number], form > fieldset input[type=password],
form > fieldset input[type=search], form > fieldset input[type=url], form > fieldset input[type=tel],
form > fieldset select, form > fieldset textarea {
  background: transparent;
  font-size: inherit;
  line-height: 1.5;
  padding: 0.2rem 0.5rem;
  border: 1px solid #d1d1d1;
  border-radius: 0.2rem;
  height: 2.5rem;
  width: 100%;
  margin-bottom: 0.8rem;
  color: inherit;
}

form > fieldset input[type=text]:focus, form > fieldset input[type=email]:focus, form > fieldset input[type=number]:focus, form > fieldset input[type=password]:focus,
form > fieldset input[type=search]:focus, form > fieldset input[type=url]:focus, form > fieldset input[type=tel]:focus,
form > fieldset select:focus, form > fieldset textarea:focus {
  outline: 0;
  border-color: #34ace0;
}

form > fieldset textarea {
  min-height: 4.5rem;
}

button.button, input.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: inherit;
  border-radius: 0.3rem;
  line-height: 1.5rem;
  -webkit-transition: background-color .2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color .2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border: 1px solid transparent;
  background-color: #eee;
  border-color: #eee;
}

button.button:hover, input.button:hover {
  background: #d5d5d5;
}

button.button:active, input.button:active {
  background: #bbbbbb;
  border-color: #bbbbbb;
}

button.button.-outline, input.button.-outline {
  background-color: transparent;
  border-color: #eee;
  color: #eee;
  color: black;
}

button.button.-outline:hover, input.button.-outline:hover {
  background: #e1e1e1;
  color: white;
}

button.button.-outline:active, input.button.-outline:active {
  background: #d5d5d5;
  color: white;
}

button.button.-primary, input.button.-primary {
  background-color: #34ace0;
  border-color: #34ace0;
  color: white;
}

button.button.-primary:hover, input.button.-primary:hover {
  background: #1e91c3;
}

button.button.-primary:active, input.button.-primary:active {
  background: #177097;
  border-color: #177097;
}

button.button.-primary-outline, input.button.-primary-outline {
  background-color: transparent;
  border-color: #34ace0;
  color: #34ace0;
}

button.button.-primary-outline:hover, input.button.-primary-outline:hover {
  background: #21a2d9;
  color: white;
}

button.button.-primary-outline:active, input.button.-primary-outline:active {
  background: #1e91c3;
  color: white;
}

button.button.-danger, input.button.-danger {
  background-color: #ff5252;
  border-color: #ff5252;
  color: white;
}

button.button.-danger:hover, input.button.-danger:hover {
  background: #ff1f1f;
}

button.button.-danger:active, input.button.-danger:active {
  background: #eb0000;
  border-color: #eb0000;
}

button.button.-danger-outline, input.button.-danger-outline {
  background-color: transparent;
  border-color: #ff5252;
  color: #ff5252;
}

button.button.-danger-outline:hover, input.button.-danger-outline:hover {
  background: #ff3939;
  color: white;
}

button.button.-danger-outline:active, input.button.-danger-outline:active {
  background: #ff1f1f;
  color: white;
}

button.button.-success, input.button.-success {
  background-color: #33d9b2;
  border-color: #33d9b2;
  color: white;
}

button.button.-success:hover, input.button.-success:hover {
  background: #22b794;
}

button.button.-success:active, input.button.-success:active {
  background: #1a8c71;
  border-color: #1a8c71;
}

button.button.-success-outline, input.button.-success-outline {
  background-color: transparent;
  border-color: #33d9b2;
  color: #33d9b2;
}

button.button.-success-outline:hover, input.button.-success-outline:hover {
  background: #26cca5;
  color: white;
}

button.button.-success-outline:active, input.button.-success-outline:active {
  background: #22b794;
  color: white;
}

.columns.demo .column {
  background: #ff793f;
  color: white;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  main {
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  main {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
}

header.banner {
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
}

header.banner > h1 {
  margin: 0;
}

header.banner > p.subtitle {
  margin-bottom: 2rem;
}

aside {
  background: #eee;
  text-align: right;
  border-right: 1px solid #eee;
  padding: 0.1px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  aside {
    background: transparent;
  }
}

@media screen and (min-width: 1024px) {
  aside {
    background: transparent;
  }
}

nav.nav h6 {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  nav.nav h6 {
    text-align: right;
  }
}

@media screen and (min-width: 1024px) {
  nav.nav h6 {
    text-align: right;
  }
}
/*# sourceMappingURL=corgi-docs.css.map */