.columns
  &.demo
    .column
      background: #ff793f
      color: white
      height: 2rem
      display: flex
      align-items: center
      justify-content: center


main
  width: 960px
  margin: 0 auto
  display: grid
  grid-template-columns: 1fr 4fr

header.banner
  text-align: center
  margin-top: 2rem

  & > h1
    margin: 0

  & > p.subtitle
    margin-bottom: 2rem

aside
  text-align: right
  padding: 2rem 1rem 0 0
  border-right: 1px solid $button-default

