.landing-example
  header
    min-height: 35rem
    text-align: center
    flex-direction: column

  section.columns
    &.stats
      background: #34ace0
      color: white

      .column
        min-height: 14rem
        flex-direction: column

        > h2
          font-size: 3rem
          font-weight: bold

        > p
          font-size: 1.3rem

    &.features
      min-height: 10rem

      > .column
        +tablet
          margin: 0
        +desktop
          margin: 0

      h3.display
        font-size: 3.2rem


  footer
    background: $gray

    .column
      padding: 2rem

    ul.unstyled li
      padding-bottom: 0.4rem
